.gamelist-container {
  width: 100%;
  display: flex;
  overflow: auto;
  /* min-height: 100vh; fix problem content not showing*/ 
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.gamelist-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #4c4444;
}
.gamelist-nav {
  display: flex;
}
.gamelist-navlink {
  display: contents;
}
.gamelist-image {
  width: 130px;
  object-fit: cover;
  text-decoration: none;
}
.gamelist-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamelist-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.gamelist-register {
  text-decoration: none;
}
.gamelist-burger-menu {
  display: none;
}
.gamelist-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gamelist-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.gamelist-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gamelist-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.gamelist-image1 {
  height: 2rem;
}
.gamelist-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gamelist-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gamelist-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gamelist-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gamelist-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gamelist-testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: 232323;
}
.gamelist-container2 {
  width: 100%;
  height: 799px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #7d6f6f;
}
.gamelist-text {
  color: var(--dl-color-gray-white);
}
.gamelist-text3 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.gamelist-container3 {
  width: 1099px;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.gamelist-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #4c4444;
}
.gamelist-navlink1 {
  display: contents;
}
.gamelist-image2 {
  width: 130px;
  object-fit: cover;
  text-decoration: none;
}
.gamelist-text7 {
  color: #fff6f6;
}
.gamelist-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gamelist-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gamelist-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gamelist-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .gamelist-text {
    text-align: center;
  }
  .gamelist-text3 {
    text-align: center;
  }
  .gamelist-container3 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 767px) {
  .gamelist-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gamelist-nav {
    display: none;
  }
  .gamelist-btn-group {
    display: none;
  }
  .gamelist-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gamelist-container2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gamelist-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gamelist-text7 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .gamelist-header {
    padding: var(--dl-space-space-unit);
  }
  .gamelist-mobile-menu {
    padding: 16px;
  }
  .gamelist-container2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .gamelist-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .gamelist-text7 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
