.rpsdetail-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.rpsdetail-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #4c4444;
}
.rpsdetail-nav {
  display: flex;
}
.rpsdetail-navlink {
  display: contents;
}
.rpsdetail-image {
  width: 130px;
  object-fit: cover;
  text-decoration: none;
}
.rpsdetail-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.rpsdetail-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.rpsdetail-register {
  text-decoration: none;
}
.rpsdetail-burger-menu {
  display: none;
}
.rpsdetail-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.rpsdetail-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.rpsdetail-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rpsdetail-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.rpsdetail-image1 {
  height: 2rem;
}
.rpsdetail-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rpsdetail-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.rpsdetail-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.rpsdetail-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.rpsdetail-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.rpsdetail-testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: 232323;
}
.rpsdetail-container02 {
  width: 100%;
  height: 799px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.rpsdetail-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #7d6f6f;
}
.rpsdetail-container03 {
  flex: 0 0 auto;
  width: 274px;
  height: auto;
  display: flex;
  position: relative;
  align-items: space-between;
  flex-direction: column;
}
.rpsdetail-container04 {
  flex: 0 0 auto;
  width: 274px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.rpsdetail-container05 {
  width: 274px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.rpsdetail-container06 {
  flex: 0 0 auto;
  width: 260px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.rpsdetail-image2 {
  top: -193px;
  left: -11px;
  width: 260px;
  height: 312px;
  position: absolute;
  object-fit: cover;
}
.rpsdetail-button {
  left: 54px;
  color: var(--dl-color-gray-white);
  width: 139px;
  bottom: -242px;
  position: absolute;
  align-self: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-black);
}
.rpsdetail-button:hover {
  transform: scale(1.02);
}
.rpsdetail-container07 {
  width: 861px;
  height: 347px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.rpsdetail-text {
  width: 287px;
}
.rpsdetail-container08 {
  top: 32px;
  right: 68px;
  width: 733px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  flex-direction: column;
}
.rpsdetail-text09 {
  color: rgb(241, 237, 237);
  font-size: 3rem;
  align-self: flex-start;
}
.rpsdetail-text10 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.rpsdetail-container09 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: flex-start;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.rpsdetail-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #4c4444;
}
.rpsdetail-navlink1 {
  display: contents;
}
.rpsdetail-image3 {
  width: 130px;
  object-fit: cover;
  text-decoration: none;
}
.rpsdetail-text13 {
  color: #fff6f6;
}
.rpsdetail-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.rpsdetail-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.rpsdetail-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.rpsdetail-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .rpsdetail-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .rpsdetail-image2 {
    order: 2;
  }
  .rpsdetail-container08 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .rpsdetail-text09 {
    text-align: center;
  }
  .rpsdetail-text10 {
    text-align: center;
  }
  .rpsdetail-container09 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .rpsdetail-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .rpsdetail-nav {
    display: none;
  }
  .rpsdetail-btn-group {
    display: none;
  }
  .rpsdetail-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rpsdetail-container02 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .rpsdetail-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .rpsdetail-image2 {
    width: 80%;
  }
  .rpsdetail-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .rpsdetail-text13 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .rpsdetail-header {
    padding: var(--dl-space-space-unit);
  }
  .rpsdetail-mobile-menu {
    padding: 16px;
  }
  .rpsdetail-container02 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .rpsdetail-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .rpsdetail-container08 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .rpsdetail-container09 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .rpsdetail-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .rpsdetail-text13 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
