.listcard2-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.listcard2-icon {
  width: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.listcard2-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.listcard2-image {
  width: 467px;
  height: 420px;
  object-fit: cover;
}
.listcard2-text {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-halfunit);
}
.listcard2-container {
  flex: 0 0 auto;
  width: auto;
  height: Medium;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.listcard2-navlink {
  color: #efefef;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.listcard2-root-class-name2 {
  background-color: #695858;
}
@media(max-width: 767px) {
  .listcard2-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .listcard2-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .listcard2-icon {
    margin-bottom: var(--dl-space-space-unit);
  }
  .listcard2-text {
    margin-bottom: var(--dl-space-space-halfunit);
  }
}
